{% extends "base.html" %}

{% block name %}添加读者{% endblock %}

{% block content %}
<div class="add-container">
    <div class="add-body">

        <form method="post" action="{{ url_for('add_reader_operation') }}">
          
            <div class="info-group">
                <div class="info-label">姓名</div>
                <div class="info-field">
                    <input type="text" name="name" value="" required>
                    <div class="help-note">* </div>
                </div>
            </div>

            <div class="info-group">
                <div class="info-label">电话</div>
                <div class="info-field">
                    <input type="text" name="phone" value="">
                    <div class="help-note">* </div>
                </div>
            </div>

            <div class="info-group">
                <div class="info-label">用户角色</div>
                <div class="info-field">
                    <div class="radio-group">
                        <label><input type="radio" name="is_admin" value="0" checked> 普通读者</label>
                        <label><input type="radio" name="is_admin" value="1"> 管理员</label>
                    </div>
                </div>
            </div>


            <div class="btn-group">
                <button type="submit" class="btn btn-primary">添加</button>
                <button type="button" class="btn btn-secondary" onclick="history.back()">返回首页</button>
            </div>
        </form>


    </div>
</div>
{% endblock %}